@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}

@layer base {
  @font-face {
    font-family: 'HyundaiSansHead-Bold';
    src: url(/fonts/HyundaiSansHead-Bold.otf) format('opentype');
  }

  @font-face {
    font-family: 'HyundaiSansHead-Light';
    src: url(/fonts/HyundaiSansHead-Light.otf) format('opentype');
  }

  @font-face {
    font-family: 'HyundaiSansHead-Medium';
    src: url(/fonts/HyundaiSansHead-Medium.ttf) format('truetype');
  }

  @font-face {
    font-family: 'HyundaiSansHead-Regular';
    src: url(/fonts/HyundaiSansHead-Regular.otf) format('opentype');
    src: url(/fonts/HyundaiSansHead-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'HyundaiSansText-Regular';
    src: url(/fonts/HyundaiSansText-Regular.otf) format('opentype');
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
animation: fadeIn 2s ease-in-out forwards;
}